--- 
--- 

@import "{{ site.theme }}";

.profiles {
    div {
        width: 100%;
        display: inline-flex;
        margin-bottom: 5%;

        .profile-pic {
            width: 20%;
            height: 100%;
            margin-right: 5%;
        }
        .profile-text {
            width: 80%;
            font-size: x-large;
        }
    }
}
